
<div class="product">
<h3><%= @product.title %></h3>
<img src ="<%= @product.image %>">

<p><%= @product.description %></p>

<h5><%= number_to_currency(@product.price) %></h5>
<a href="" class="button">PURCHASE</a>


</div>
